mlpro_int_gymnasium[full]>=1.0.2
mlpro_int_mujoco[full]>=1.0.1
git+https://github.com/fhswf/MLPro.git@wrapper/sb3
stable_baselines3>=2.3.0
sb3-contrib>=2.2.1
torch>=2.0.0
numpy>=1.0.0
setuptools>=75.0.0
