mlpro_int_gymnasium>=1.0.2
mlpro_int_mujoco[full]>=1.0.1
gymnasium!=1.0.0
stable_baselines3>=2.3.0
torch>=2.0.0,<=2.3.1
numpy>=1.0.0,<=1.26.4
setuptools >= 75.0.0

sphinxcontrib-napoleon
sphinx-copybutton
sphinx_multitoc_numbering
sphinx
sphinx_rtd_theme
sphinxcontrib-jquery
