mlpro[full]
mlpro_int_gymnasium[full]>=0.1.0
stable_baselines3[extra]>=2.1.0
gymnasium>=0.29

sphinxcontrib-napoleon
sphinx-copybutton
sphinx_multitoc_numbering
sphinx
sphinx_rtd_theme
sphinxcontrib-jquery
